<nav class="navbar navbar-light">
  <a class="navbar-brand" routerLink="/">Tips for your Gifts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consultation">Gift Consultation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Deal Watcher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gifts">Gifts</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


<div class="footer">
  <p>Email TipsForYourGifts.com at lucasdmoyer@gmail.com</p>
</div>